.html-item-timeline {
    font-size: var(--font-size) ;
	border-bottom: 1px solid var(--white) ;
	border-top: 1px solid var(--white) ;
}


.html-item-timeline-info {
	display: inline-block ;
}

.html-item-timeline-log {
	display: inline-block ;
	background: var(--grey) ;
	font-weight: 900 ;
	min-width: 95px ;
	margin: 0 5px ;
}

.html-item-timeline-dot {
	margin: 4px auto ;
	background: var(--theme) ;
	border-radius: 50px ;
	width: 5px ;
	height: 5px ;
}

.html-item-timeline-anchor {
	border: 1px solid black ;
	border-radius: 50px ;
	width: 15px ;
	height: 15px ;
	float: left ;
}

.html-item-timeline-content {
	height: auto ;
	width: 100% ;
	border-left: 1px solid black ;
	margin-left: 7px ;
	padding-left: 5px ;
	padding-bottom: 10px ;
	margin-top: 2px ;
	display: block ;
}
