
.contents-table {
    position: fixed;
    padding: 5px 10px 5px 10px;
    border: 1px solid var(--grey);
    max-height: 60%;
    background: var(--white) ;
    font-size: var(--font-size) ;
    font-family: var(--font-family) ;
}

.contents-table-item {
    display: block;
    width: 100% ;
}

.contents-table-item:hover {
    text-decoration: None ;
}

.contents-item-active {
    color: var(--selected) ;
    font-weight: 700 ;
}

.contents-table-title {
    font-weight: bold
}

.contents-table-level-0 {
}

.contents-table-level-1 {
}

.contents-table-level-2 {
}