
.contents-table {
    position: fixed;
    padding: 5px 10px 5px 10px;
    border: 1px solid var(--grey);
    max-height: 60%;
    background: var(--white) ;
}

.contents-table-item {
    display: block;
    width: 100%
}

.contents-item-active {
    background-color: var(--selected);
}

.contents-table-title {
    font-weight: bold
}

.contents-table-level-0 {
}

.contents-table-level-1 {
}

.contents-table-level-2 {
}