.html-list {
    padding: 0 ;
    margin: 1px ;
    list-style-position: inside ;
}

.html-list-item {
    font-size: inherit ;
    margin: 1px 5px ;
    padding: 0 ;
}

.html-items-info {
    font-size: calc(var(--font-size) - 3px) ;
    display: inline-block ;
    position: absolute ;
    top: 4px ;
    right: 20px ;
}

.html-items-close {
    font-size: calc(var(--font-size) - 3px) ;
    display: inline-block ;
    position: absolute ;
    cursor: pointer ;
    right: 0 ;
}

.html-items-bullet {
    display: inline-block ;
    padding: 0 5px ;
    margin-right: 2px ;
    background: var(--grey) ;
    border: 1px solid var(--grey) ;
    border-radius: 10px ;
}