.html-icon {
    font-size: normal ;
    vertical-align: middle ;
    display: inline-block ;
    margin: 0 ;
    padding: 3px;
    border-radius: 10px ;
}

.html-icon-plain-primary {
    background: var(--theme);
    border: 1px solid var(--theme);
}

.html-icon-outline-primary {
    border: 1px solid var(--theme);
}

.html-icon-primary:hover {
    background: var(--theme-lighter);
}

.html-icon-plain-info {
    background: var(--info);
    border: 1px solid var(--info);
    color: white ;
}

.html-icon-outline-info {
    border: 1px solid var(--info);
}

.html-icon-info:hover {
    background: var(--info-light);
    color: var(--font-color) ;
}

.html-icon-plain-danger {
    background: var(--danger);
    border: 1px solid var(--danger);
    color: white ;
}

.html-icon-outline-danger {
    border: 1px solid var(--danger);
}

.html-icon-danger:hover {
    background: var(--danger-light);
    color: var(--font-color) ;
}

.html-icon-edit {
    margin: 0;
    padding: 0;
    cursor: pointer ;
}

.html-icon-pressed {
    background-color: var(--selected);
    color: var(--white);
    border: 1px solid var(--selected) ;
}

.html-icon-menu-h {
    outline: none;
    position: absolute ;
    line-height: normal ;
    border: 1px solid var(--theme-dark) ;
    border-radius: 5px ;
    min-height: 20px ;
    margin-top: 10px ;
    left: 0 ;
    top: 20px ;
    padding: 3px ;
    z-index: 600 ;
    background-color: var(--white) ;
    border: 1px solid var(--grey-light) ;
}


.html-icon-menu-v {
    outline: none;
    position: absolute ;
    line-height: normal ;
    border: 1px solid var(--theme-dark) ;
    border-radius: 5px ;
    min-height: 20px ;
    margin-top: 10px ;
    left: 40px ;
    top: -15px ;
    padding: 3px ;
    z-index: 600 ;
    background-color: var(--white) ;
    border: 1px solid var(--grey-light) ;
}