.html-button {
    font-weight: bold ;
    padding: 4px ;
    margin: 2px 0 2px 0 ;
    text-decoration: none ;
    border-radius: 4px ;
    white-space: nowrap ;
    display: inline-block ;
    -webkit-appearance: none ;
    -moz-appearance: none ;
    border: 1px solid var(--theme) ;
    color: inherit ;
}

.html-button:hover {
    text-decoration: none ;
    cursor: pointer ;
    background-color: var(--theme) !IMPORTANT ;
    color: var(--white) !IMPORTANT ;
}

.html-button:focus {
    outline: 0 ;
}

.html-button:disabled {
    background-color: var(--white) !IMPORTANT ;
    border-color: var(--white) !IMPORTANT ;
    color: var(--grey) !IMPORTANT ;
    cursor: not-allowed !IMPORTANT ;
    font-style: italic !IMPORTANT ;
}

.html-button:empty {
    cursor: none ;
}

.html-button.selected {
    color: var(--white) !IMPORTANT ;
    border-color: var(--selected) !IMPORTANT ;
    background-color: var(--selected) !IMPORTANT;
}

.html-button-loader {
    margin-left: 2px ;
    margin-right: 6px ;
}