.html-comments {
    padding: 5px
}

.html-comments-label {
    display: flex ;
    line-height: var(--line-height);
    vertical-align: middle ;
}

.html-comments-icon {
    margin: 0 5px 0 20px ;
    cursor: pointer ;
    display: inline-block ;
}

.html-comments-counter {
    display: inline-block ;
    margin: 0 2px ;
    padding: 0 ;
    font-size: calc(var(--font-size) + 5px);
    cursor: pointer ;
    font-weight: 900 ;
}

.html-comments-input {
    text-align:left !IMPORTANT ;
    flex: 1 ;
    margin-left: 5px !IMPORTANT;
    padding-left: 2px !IMPORTANT;
}

.html-comments-content {
    margin: 0 ;
    padding: 5px 0 ;
    overflow: auto ;
}

.html-comments-feed {
    margin: 0 0 5px 0 ;
}

.html-comments-timestamp {
    margin: 0 ;
    font-weight: bold ;
}
