.html-footer {
    margin: 0 ;
    vertical-align: bottom ;
    left: 0 ;
    padding: 0 2px 0 2px ;
    position: fixed ;
    bottom: 0 ;
    z-index: 10 ;
    display: block ;
    min-height: 40px ;
    border-top: 1px solid var(--grey) ;
    color: var(--grey-dark) ;
    background-color: var(--white) ;
}


.html-footer-logo {

}