.i-avatar-status {
    position: relative ;
    border-radius: 30px ;
    float: right ;
}


.i-avatar-img {
    border: 1px solid var(--grey-light) ;
    border-radius: 20px ;
}


.i-avatar-img-dflt {
    color: var(--white) ;
    font-weight: 900 ;
    padding: 0 ;
}
